@import "./variables";

#about-page {
    width: 100vw;
    height: 100vh;
    background: url(../images/About-page/backgroundAbout.jpg);
    @include backgroundSettings;
}

#about-text {
    grid-column: 4 / span 6;
    color: $Light100;
    transform: translate(15%, -80%);
}

.history-box {
    grid-column: 2 / span 6;
    background-color: $VeryDark65;
    transform: translateY(-20%);
    padding: 10px 25px 0px 25px;
    h3 {
        color: $Light100;
        text-align: center;
    }
}


@media only screen and (max-width: 1000px) {
    #about-text {
        transform: translate(15%, -50%);
    }
    #about-page {
        height: 125vh;
    }
    .history-box {
        transform: translateY(-20%);
    }
}

@media only screen and (max-width: 765px) {
    #about-text {
        transform: translate(0%, -80%);
    }

    .history-box {
        transform: translateY(-10%);
    }
}

@media only screen and (max-width: 1100px) {

    .history-box {
        transform: translateY(-10%);
    }
}

@media only screen and (max-width: 610px) {

    .history-box {
        transform: translateY(5%);
    }
}

@media only screen and (max-width: 400px) {
    #about-page {
        overflow: auto;
    }
}

@media only screen and (min-width: 2100px) {
    #about-text {
        transform: translate(5%, -40%);
    }
}

@media only screen and (max-height: 600px) {
    .history-box {
        transform: translateY(5%);
    }
}